.cropper-container {

}

.button-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: #393838;
    z-index: 2;
}

.btn-choose, .btn-cancel {
    margin: 10px;
    border-radius: 20px;
    padding: 5px 15px;
    border:0;
    cursor: pointer;
}

.btn-choose {
    float: right;
    background-color: #b70101;
    color: #fff;
}

.btn-cancel {
    float: left;
    color: rgb(138, 138, 138);
    background-color: transparent;
    font-weight: bold;
}

.menu-container {
    height: 40px;
    position: absolute;
    bottom: 59px;
    left: 0%;
    width: 100%;
    background-color: #393838;
    opacity: 1;
}

.zoom-slider {
    text-align: center;
    margin:10px;
}

.zoom-slider input {
    width: 75%; 
}
